/**
 * @section Base Styles
 */
html {
	font-size: rfs(theme('fontSize.base'));
}
body {
	font-family: 'Product Sans';
	background-color: theme('colors.grey.lighter');
	color: theme('colors.grey.darker');
}

input,
textarea,
select,
button {
	font: inherit;
}

a {
	color: theme('colors.grey.darker');
	text-decoration: none;
}

@layer base {
	.container {
		@apply m-auto px-2
	}
}
.material-icons {
	font-size: rfs(36px);
}