/**
 * @section Base Styles
 */

html {
  font-size: 16px;
}
@screen md {
  html {
    font-size: 22px;
  }
}

@screen xxl {
  html {
    font-size: 35px;
  }
}
body {
  font-family: 'Product Sans', sans-serif;
  background-color: theme('colors.grey.lighter');
  color: theme('colors.grey.darker');
  line-height: 1.2;
}

input,
textarea,
select,
button {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: theme('colors.grey.darker');
  text-decoration: none;
}
:root {
  --header-1: theme('fontSize.4xl');
  --header-2: theme('fontSize.3xl');
  --body: theme('fontSize.xs');
  --radius: theme('borderRadius.3xl');
}

@media screen and (min-width: theme('screens.xl')) {
  :root {
    --header-1: theme('fontSize.4xl');
    --header-2: theme('fontSize.2xl');
    --body: theme('fontSize.sm');
    --radius: theme('borderRadius.3xl');
  }
}

@media screen and (min-width: theme('screens.xxl')) {
  :root {
    --header-1: theme('fontSize.lg');
    --header-2: theme('fontSize.md');
    --body: theme('fontSize.base');
    --radius: theme('borderRadius.4xl');
  }
}

@layer base {
  .container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    @apply m-auto;
  }
  .bg-clip-text {
    -webkit-background-clip: text;
  }
}
.material-icons {
  font-size: rfs(36px);
}

.header-1 {
  font-size: theme('fontSize.4xl');
}
.header-2 {
  font-size: theme('fontSize.2xl');
}

.icon-base {
  @apply rounded-lg flex items-center justify-center;
  width: 2rem;
  height: 2rem;
  i {
    font-size: 1.25rem;
  }
}

@screen xxl {
  .icon-base {
    @apply rounded-lg flex items-center justify-center;
    width: 70px;
    height: 70px;
    i {
      font-size: 45px;
    }
  }
}

.content {
  p {
    @apply mb-6;
  }
}

.collapsible {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.spaced-li {
  li {
    @apply mb-4;
  }
}

.water-box {
  position: relative;
  overflow: hidden;
  background-color: #ff634d;
  &.playing {
    &:before,
    &:after {
      animation: fill 6s ease-in-out 1 forwards;
    }
  }
  &:before,
  &:after {
    content: ' ';
    background: theme('colors.persimmon');
    position: absolute;
    bottom: 0;
    display: block;
    border-radius: 220px;
    width: 1900px;
    height: 1900px;
    left: 50%;
    border-radius: 40%;
    transform: translateX(-50%);
    border-radius: 40%;
  }
  &:before {
    background-color: theme('colors.pizzaz');
  }
  &:after {
    background-color: theme('colors.grey.darker');
  }
}
@keyframes fill {
  from {
    bottom: 0;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    bottom: 80%;
    transform: translateX(-50%) rotate(360deg);
  }
}
bg-gradient {
  &-from-pizzaz-to-violet {
    &-136 {
      background: linear-gradient(
        136deg,
        theme('colors.pizzaz') 0%,
        theme('colors.violet') 100%
      );
    }
  }
  &-from-aquamarine-to-violet {
    &-136 {
      background: linear-gradient(
        136deg,
        theme('colors.aquamarine') 0%,
        theme('colors.violet') 100%
      );
    }
    &-116 {
      background: linear-gradient(
        116deg,
        theme('colors.aquamarine') 0%,
        theme('colors.violet') 100%
      );
    }
  }
  &-from-persimmon-to-violet {
    &-136 {
      background: linear-gradient(
        136deg,
        theme('colors.persimmon') 0%,
        theme('colors.violet') 100%
      );
    }
    &-180 {
      background: linear-gradient(
        180deg,
        theme('colors.persimmon') 0%,
        theme('colors.violet') 100%
      );
    }
  }
}

.logo {
  fill: white;
  .fil0 {
    fill: white;
    fill-rule: nonzero;
    fill-opacity: 0.4;
  }
  .fil2 {
    fill: white;
    fill-rule: nonzero;
    fill-opacity: 0.4;
  }
}

.car {
  min-width: 180%;
}

@screen md {
  .car {
    min-width: unset;
  }
}

body{
  background-color: #F6F6F7;
}
[class*='block-']{
  border-radius: 40px;
  @media (max-width: 768px) {
    border-radius: 20px;
  }
  h5{
    font-family: 'Product Sans', sans-serif;
    font-weight: normal;
    font-size: 2vw;
    margin-bottom: 20px;
    word-break: break-word;
    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }
  h2{
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 30px;
    word-break: break-word;
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
  p{
    margin-bottom: 50px;
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }
}
.grid-gap-30{
  grid-gap: 30px;
  @media (max-width: 600px) {
    grid-gap: 15px;
  }
}
.grid-rows-18{
  grid-template-rows: repeat(9, 1fr);
  @media (max-width: 1024px) {
    grid-template-rows: repeat(4, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-rows: repeat(6, 1fr);
  }
}
.btn-order{
  background-color: white;
  color: #3E3E3E;
  font-size: 20px;
  padding: .6em 1em;
  border-radius: 10px;
  font-family: 'Product Sans', sans-serif;
  font-weight: normal;
  @media (max-width: 768px) {
    font-size: 18px;
  }
  @media (max-width: 600px) {
    font-size: 10px;
  }
}
.block-1{
  grid-column: 2/8;
  grid-row: 1/5;
  padding: 60px 70px;
  padding: 2em 2.5em;
  background: transparent linear-gradient(125deg, #A92FFF 0%, #4DEEFF 100%) 0% 0% no-repeat padding-box;
  h5{
    color: #F6F6F7;
    opacity: 80%;
  }
  h2{
    color: #F6F6F7;
  }
  >span{
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    color: #F6F6F7;
    opacity: 60%;
    font-size: 2vw;
  }
  >ul{
    font-size: 2vw;
    color: white;
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
  }
  @media (max-width: 1024px) {
    grid-column: 2/8;
    grid-row: 1/3;
  }
  @media (max-width: 768px) {
    h5{
      font-size: 3vw;
    }
    h2{
      font-size: 5vw;
    }
    p{
      font-size: 3vw;
    }
  }
  @media (max-width: 600px) {
    grid-column: 2/12;
    grid-row: 1/3;
    h5{
      font-size: 3.5vw;
    }
    h2{
      font-size: 6vw;
    }
    p{
      font-size: 3.5vw;
    }
    >span{
      font-size: 4vw;
    }
    >ul{
      font-size: 4vw;
    }
  }
}
.block-2{
  grid-column: 8/12;
  grid-row: 1/3;
  background: white;
  padding: 50px 50px;
  padding: 1.4em 1.5em;
  @media (max-width: 1024px) {
    grid-column: 8/12;
    grid-row: 1/2;
  }
  @media (max-width: 600px) {
    grid-column: 2/12;
    grid-row: 5/6;
    h5{
      font-size: 3.5vw;
    }
    h2{
      font-size: 6vw;
    }
    p{
      font-size: 3.5vw;
    }
  }
}
.block-3{
  grid-column: 2/4;
  grid-row: 5/9;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  h2{
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    color: #3E3E3E;
    opacity: 30%;
  }
  @media (max-width: 1024px) {
    grid-column: 2/4;
    grid-row: 3/5;
    h2{
      font-size: 3vw;
    }
  }
  @media (max-width: 600px) {
    grid-column: 2/7;
    grid-row: 3/5;
    h2{
      font-size: 4vw;
    }
  }

}
.block-4{
  grid-column: 4/8;
  grid-row: 5/9;
  background: #3E3E3E url("../images/bg-block-4.svg") no-repeat center bottom;
  background-size: 100%;
  padding: 50px 50px;
  padding: 1.4em 1.5em;
  h5{
    font-size: 1vw;
    color: #F6F6F7;
    opacity: 80%;
  }
  h2{
    font-size: 3vw;
    color: #FF634D;
  }
  p{
    color: white;
  }
  a{
    background-color: #F6F6F765;
    color: #F6F6F7;
  }
  @media (max-width: 1024px) {

    grid-column: 4/8;
    grid-row: 3/5;
  }

  @media (max-width: 768px) {
    padding: 1.4em 1em;
  }
  @media (max-width: 600px) {
    padding: .9em 1em;
    grid-column: 7/12;
    grid-row: 3/5;
      h5{
        font-size: 2vw;
      }
      h2{
        font-size: 4vw;
      }
      p{
        font-size: 2vw;
      }
  }
}
.block-5{
  grid-column: 8/12;
  grid-row: 3/5;
  background: white;
  padding: 50px 50px;
  padding: 1.4em 1.5em;
  @media (max-width: 1024px) {
    grid-column: 7/12;
    grid-row: 4/6;
    grid-column: 8/12;
    grid-row: 2/3;
  }
  @media (max-width: 600px) {
    grid-column: 2/12;
    grid-row: 6/7;
  }
}
.block-6{
  grid-column: 8/12;
  grid-row: 5/7;
  background: white;
  padding: 50px 50px;
  padding: 1.4em 1.5em;
  @media (max-width: 1024px) {
    grid-column: 8/12;
    grid-row: 3/4;
  }
  @media (max-width: 768px) {
    padding: .9em 1em;
  }
  @media (max-width: 600px) {
    grid-column: 2/12;
    grid-row: 7/8;
  }
}
.block-7{
  grid-column: 8/12;
  grid-row: 7/9;
  padding: 60px 70px;
  padding: 1.4em 1.5em;
  background: transparent linear-gradient(270deg, #4DEEFF 0%, #A92FFF 100%) 0% 0% no-repeat padding-box;
  h5{
    font-size: 1vw;
    color: #F6F6F7;
    opacity: 80%;
  }
  h2{
    font-size: 3vw;
    color: white;
  }
  p{
    color: white;
  }
  @media (max-width: 1024px) {
    grid-column: 8/12;
    grid-row: 4/5;

    h5{
      font-size: 2vw;
    }
    h2{
      font-size: 3vw;
    }
  }
  @media (max-width: 768px) {
    padding: .9em 1em;
  }
  @media (max-width: 600px) {
    grid-column: 2/12;
    grid-row: 8/9;
    h5{
      font-size: 3vw;
      margin-bottom: 10px;
    }
    h2{
      font-size: 4vw;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 30px;
    }
  }
}
.block-2,
.block-5,
.block-6{
  h5{
    font-size: 1vw;
    color: #3E3E3E;
  }
  h2{
    font-size: 3vw;
    color: #A92FFF;
  }
  p{
    color: #FF634D;
  }
  a{
    background-color: #3E3E3E1A;
    color: #3E3E3E;
  }
  @media (max-width: 1024px) {
    h5{
      font-size: 2vw;
    }
    h2{
      font-size: 3vw;
    }
    p{
      font-size: 2vw;
    }
  }
  @media (max-width: 768px) {
      padding: .9em 1em;
    h2{
      font-size: 4vw;
    }
  }
  @media (max-width: 600px) {
    padding: 2em 2.5em;
    h5{
      font-size: 3vw;
    }
    h2{
      font-size: 6vw;
    }
    p{
      font-size: 3vw;
    }
  }
}