<% if (!locals.scriptsOnly) { %>
<footer class="footer bg-white py-10">
	<div class="container lg:grid lg:grid-cols-12">
		<div class="lg:col-start-2 lg:col-span-10 flex justify-between">
			<nav
				class="grid-cols-1 md:grid-cols-4 row-gap-4 md:row-gap-0 col-gap-6 mb-6 lg:mb-0 opacity-60 inline-grid text-base lg:text-sm">
	
				<a href="/">Home</a>
				<a href="#">Demo</a>
				<a href="pricing.html">Pricing</a>
				<a href="#">Download</a>
				<a href="about-us.html">About</a>
				<a href="contact-us.html">Contact</a>
				<a href="#">Login</a>
			</nav>
			<div class="w-40">
				<h3 class="text-base lg:text-xs text-violet mb-3">Get The Pilot Mobile App</h3>
				<div class="lg:grid grid-cols-2 gap-3">
					<img class="w-24 mb-4" src="svg/Google Play.svg" alt="Get in on Google Play">
					<img class="w-24 mb-4" src="svg/App store.svg" alt="Get in on Google Play">
				</div>
			</div>
		</div>
	</div>
</footer>
<% } %>
<div class="whatsapp">
	<div class="chat-container">
			<div class="chat-header">
					<div>
							<img src="whatsapp/2.jpg" alt="Paymob">
							<span>Paymob</span>
					</div>
					<a href="#" class="whatsapp-close"></a>
			</div>
			<div class="chat-body">
					<div class="message text-grey-dark_alt">
							<span>Paymob</span>
							<p>Hi there 👋</p>
							<p>How can I help you?</p>
							<p id="time">13:38</p>
					</div>
			</div>
			<div class="chat-footer">
					<a class="whatsapp-link" href="https://api.whatsapp.com/send?phone=447751471779" target="_blank">
							<img src="whatsapp/whatsapp.png" alt="">
							<span>Start Chat</span>
					</a>
			</div>
	</div>
</div>
<a class="whatsapp-btn">
	<span class="pulse">
			<img src="whatsapp/whatsapp.png" alt="whatsapp">
	</span>
</a>
<script src="\whatsapp\whatsapp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</body>

</html>