<% if (!locals.scriptsOnly) { %>
<footer class="footer bg-white py-10">
	<div class="container lg:grid lg:grid-cols-12">
		<div class="lg:col-start-2 lg:col-span-10 flex justify-between">
			<nav
				class="grid-cols-1 md:grid-cols-2 row-gap-4 md:row-gap-0 col-gap-6 mb-6 lg:mb-0 opacity-60 inline-grid text-base lg:text-sm">
				<a href="http://">About us</a>
				<a href="http://">Demo access</a>
				<a href="http://">Our services</a>
				<a href="http://">Contact us</a>
			</nav>
			<div class="w-40">
				<h3 class="text-base lg:text-xs text-violet mb-3">Get App</h3>
				<div class="lg:grid grid-cols-2 gap-3">
					<img class="w-24 mb-4" src="svg/Google Play.svg" alt="Get in on Google Play">
					<img class="w-24 mb-4" src="svg/App store.svg" alt="Get in on Google Play">
				</div>
			</div>
		</div>
	</div>
</footer>
<% } %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>