<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Copy Me</title>
	<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body class="overflow-x-hidden">
	<header class="absolute top-0 w-full z-50 transition-all">
		<div class="container navbar <%= locals.variant && variant === 'light' ? 'navbar-light' : '' %> m-auto flex flex-col lg:flex-row items-center">
			<div class="flex justify-between w-full lg:w-auto z-50">
				<a href="/" class="nav-link nav-brand font-bold text-violet flex-grow-0 p-0 py-3 pr-3 transition-all duration-500">
					<svg class="svg h-12 w-24">
						<use xlink:href="svg/logo.svg#logo"></use>
					</svg>
				</a>
				<button class="bg-transparent border-transparent p-3 material-icons lg:hidden nav-trigger" data-target="#topNav">
					<div class="bar mb-1"></div>
					<div class="bar"></div>
				</button>
			</div>
			<nav id="topNav" 
				class="lg:flex justify-between overflow-hidden collapsible lg:max-h-full lg:w-full">
				<div class="flex flex-col lg:flex-row items-center">
					<a href="our-services.html" class="nav-link">Our services</a>
					<a href="about-us.html" class="nav-link">About us</a>
					<a href="contact-us.html" class="nav-link">Contact us</a>
				</div>
				<div>
					<a href="#" class="nav-link inline-flex group">
						<span class="opacity-60">
							Sign in
						</span> 
						<i class="material-icons text-violet text-base ml-1 opacity-60 group-hover:opacity-100">login</i>
					</a>
				</div>
			</nav>
			<nav id="navbarMobile" class="navbar-mobile fixed right-0 inset-y-0 w-screen h-screen bg-violet text-white text-3xl font-bold py-6half lg:hidden overflow-x-hidden">
				<div class="flex flex-col pt-24 h-full container">
					<a href="our-services.html" class="block py-4 slide-in-left">Our services</a>
					<a href="about-us.html" class="block py-4 slide-in-left">About Us</a>
					<a href="contact-us.html" class="block py-4 slide-in-left">Contact Us</a>
					<a href="#" class="mt-auto mb-12 slide-in-left">Sign In</a>
				</div>
			</nav>
		</div>
	</header>