<%- include('includes/header.ejs') %>
<section class="min-h-screen relative container m-auto mt-16">
  <div class="md:grid md:grid-cols-12">
    <div class="md:col-start-2 md:col-span-10 content">
      <h1 class="header-1 my-6 text-persimmon">
        About Us
      </h1>
      <p>
        Pilot Ghana provides innovative technology solutions in Fleet Control and Powerful Vehicle Tracking. Hence
        making
        use of the modern-day Internet of Things (IoT), and Telematics for the purpose of connecting, exchanging,
        reading,
        and analyzing data. Our reliable solutions and dedication to providing excellent service to associates have seen
        us build a large portfolio of highly satisfied clients in over the world. We are proud that our solutions have
        been recognized internationally and we are ready to duplicate that.
        Our powerful branded solution comes from our deep understanding of vehicle tracking and fleet control, as well
        as
        a strong commitment to quality and client satisfaction.
      </p>

      <p>
        We pride ourselves on understanding the needs of our clients and have been supplying quality, reliable solutions
        for over the years.
      </p>
      <p>
        Pilot Ghana has highly respected partnerships that have been carefully selected to guarantee we only provide
        high-quality software and hardware solutions ensuring that our clients’ expectations are met while our ethic of
        only providing quality, reliable systems are duly maintained.
      </p>
      <p>
        Being present in Accra, Ghana in the center of the region gives our team the advantage of mobility to respond to
        our partner &amp; customer needs instantly.
        In short, we are huge: 10+ million IoT devices deployed, 1100+ employees worldwide, 22 years of Telematics, and
        IoT business.
      </p>
      <p>

        We are a world-class team of engineers, thought leaders, and techies that have one thing in common: simplify and
        make life brighter at every stage &amp; moment.

      </p>
      <p>

        Our Vision: In a fast-growing technological era with increasing competition, We keep the hope of maintaining our
        stand as a Top-notch technology services provider for Ghana and Africa.
      </p>
      <p>

        Our Mission: To provide individuals, businesses, and the society at large with the best, smart, and effective
        technology-driven solutions in the transportation sector, fleet management, and areas regarding vehicle security
        in order to boost productivity.
      </p>
    </div>
  </div>
</section>
<script src="js/script.js"></script>
</body>

</html>