<%- include('includes/header.ejs', {page: 'Contact Us'}) %>
<section class="min-h-screen relative container m-auto">
  <div class="md:grid md:grid-cols-12 md:grid-rows-1 md:col-gap-3 mt-24 mb-12">
    <div class="md:col-start-2 md:col-span-5 md:row-start-1 mb-5 md:mb-0">
      <div class="flex items-center mb-6">
        <div class="icon-base bg-gradient-to-br from-persimmon to-violet mr-4">
          <i class="material-icons text-grey-lighter">phone</i>
        </div>
        +233 (54) 482-54-54
      </div>
      <div class="flex items-center mb-6">
        <div class="icon-base bg-gradient-to-br from-persimmon to-violet mr-4">
          <i class="material-icons text-grey-lighter">email</i>
        </div>
        sales@pilot-ghana.com 
      </div>
      <div class="flex items-center mb-6">
        <div class="icon-base bg-gradient-to-br from-persimmon to-violet mr-4">
          <i class="material-icons text-grey-lighter">location_on</i>
        </div>
        Impact Hub <br/>
        F393/4, Otswe Street ,<br/>
        OSU, Accra, Ghana
      </div>
    </div>
    <div class="md:col-start-7 md:col-span-5 md:row-start-1">
      <img class="w-full" src="svg/We are in Ghana.svg" alt="We are in Ghana">
    </div>
  </div>

  <div class="md:grid md:grid-cols-12 md:grid-rows-1 md:col-gap-3">

    <div class="md:col-start-2 md:col-span-5 md:row-start-1 overflow-hidden">
      <h2 class="text-grey text-xs md:text-base mb-3">
        We are social:
      </h2>
      <div class="flex">
        <a href="https://m.facebook.com/profile.php?id=675336872938024&ref=content_filter" target="_blank" rel="noopener noreferrer" class="w-6 h-6 bg-grey rounded-md mr-2"><img src="svg/Facebook.svg" alt="Facebook"></a>
        <a href="https://instagram.com/atracktrack?igshid=1c6jr3d0xun54" target="_blank" rel="noopener noreferrer" class="w-6 h-6 bg-grey rounded-md mr-2"><img src="svg/instagram.svg" alt="instagram"></a>
        <a href="https://www.linkedin.com/company/atracktrack" target="_blank" rel="noopener noreferrer" class="w-6 h-6 bg-grey rounded-md mr-2"><img src="svg/Linkedin.svg" alt="Linkedin"></a>
      </div>
    </div>

  </div>
</section>
<%- include('includes/footer.ejs', {scriptsOnly: true}) %>