<%- include('includes/header.ejs', {page: 'Contact Us'}) %>
<section class="min-h-screen relative container m-auto">
  <div class="md:grid md:grid-cols-12 md:grid-rows-1 md:col-gap-3 mt-24 mb-12">
    <div class="md:col-start-2 md:col-span-5 md:row-start-1 mb-5 md:mb-0">
      <div class="flex items-center mb-6">
        <div class="icon-base bg-gradient-to-br from-persimmon to-violet mr-4">
          <i class="material-icons text-grey-lighter">phone</i>
        </div>
        +123 23-265-169
      </div>
      <div class="flex items-center mb-6">
        <div class="icon-base bg-gradient-to-br from-persimmon to-violet mr-4">
          <i class="material-icons text-grey-lighter">email</i>
        </div>
        hello@track-track.com
      </div>
      <div class="flex items-center mb-6">
        <div class="icon-base bg-gradient-to-br from-persimmon to-violet mr-4">
          <i class="material-icons text-grey-lighter">location_on</i>
        </div>
        Accra, Ghana; 17 street
      </div>
    </div>
    <div class="md:col-start-7 md:col-span-5 md:row-start-1">
      <img class="w-full" src="svg/We are in Ghana.svg" alt="We are in Ghana">
    </div>
  </div>

  <div class="md:grid md:grid-cols-12 md:grid-rows-1 md:col-gap-3">

    <div class="md:col-start-2 md:col-span-5 md:row-start-1 overflow-hidden">
      <h2 class="text-grey text-xs md:text-base mb-3">
        We are social:
      </h2>
      <div class="flex">
        <div class="w-6 h-6 bg-grey rounded-md mr-2"></div>
        <div class="w-6 h-6 bg-grey rounded-md mr-2"></div>
        <div class="w-6 h-6 bg-grey rounded-md mr-2"></div>
        <div class="w-6 h-6 bg-grey rounded-md mr-2"></div>
      </div>
    </div>

  </div>
</section>
<script src="js/script.js"></script>
</body>

</html>