<%- include('includes/header.ejs') %>

<main>
	<section class="min-h-screen relative container m-auto overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:grid-rows-1 md:col-gap-3 pt-24 lg:pt-0">
			<div class="md:col-start-3 md:col-end-11 md:row-start-1 flex flex-col justify-center">
				<h1	class="text-6half lg:text-6xl xxl:text-xxl font-bold gradient-text md:text-center animate__animated animate__fadeInUp mb-8">
					The road is always known
				</h1>
				<div>
					<p class="opacity-60 md:text-center md:m-auto md:w-3/5 text-xl w-4/5 xl:w-1/2 animate__animated animate__fadeInDown">
						The most compact tracking and analytics solutions
					</p>
				</div>
			</div><div class="md:col-start-1 md:col-end-11 md:row-start-1 z-10">
				<picture>
					<source srcset="images/Banner_2@2x.png" media="(min-width: 768px)">
					<img src="images/Banner_mobile.png" alt="Car" class="mb-5 car">
				</picture>
			</div>
		</div>
		<div class="absolute inset-x-0 bottom-0 text-center">
			<a href="#" class="p-8 material-icons">keyboard_arrow_down</a>
		</div>
	</section>
	<section class="container">
		<div class="grid grid-cols-12 gap-3 mb-10">
			<div class="col-start-1 col-span-12 xl:col-start-2 xl:col-span-10">
				<div class="md:grid grid-cols-1 grid-rows-3 md:grid-cols-2 md:grid-rows-2 gap-3 mb-3">
					<div class="md:col-start-1 md:col-span-1 md:row-span-1 mb-3 md:mb-0">
						<div class="card pb-0">
							<div class="card-subtitle icon-base bg-gradient-to-br from-aquamarine to-violet">
								<i class="material-icons text-grey-lighter">gps_fixed</i>
							</div>
							<h2 class="card-title text-violet">
								Real Time Tracking
							</h2>
							<div class="card-body mb-4">
								Monitor the live location and movements of your vehicles and other mobile assets and trace events as
								they
								happen.
							</div>
							<img class="m-auto w-48" src="images/iPhone 11 Pro 2.png" />
						</div>
					</div>
					<div class="md:col-start-2 md:col-span-1 md:row-span-2 mb-3 md:mb-0">
						<div class="card pb-64 h-full bg-cover bg-bottom bg-no-repeat"
							style="background-image: url('images/Africa pattern.png');">
							<div class="card-subtitle icon-base bg-gradient-to-br from-persimmon to-violet">
								<i class="material-icons text-grey-lighter">add_road</i>
							</div>
							<h2 class="card-title text-persimmon">
								Geo-Fencing
							</h2>
							<div class="card-body mb-10">
								Mark out operational territories for your vehicle and get an alarm if the vehicle operates outside the
								territory. Our system will notify you of every time your vehicle exits or enters your defined area of
								operation. That is reports on every visit, duration and on any zone breaches. </div>
						</div>
					</div>
					<div class="md:col-start-1 md:col-span-1 md:row-start-2 mb-3 md:mb-0 row-span-1">
						<div class="card h-full">
							<div class="card-subtitle icon-base bg-gradient-to-br from-pizzaz to-violet">
								<i class="material-icons text-grey-lighter">history</i>
							</div>
							<h2 class="card-title text-pizzaz">
								History Playback
							</h2>
							<div class="card-body">
								Replay historical location of your vehicle’s movements and activities, and review all past events and
								alerts that have taken place. Be, even when you might not have been available to track real time.
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-subtitle icon-base  bg-gradient-to-br from-aquamarine to-violet">
						<i class="material-icons text-grey-lighter">gps_fixed</i>
					</div>
					<h2 class="card-title text-violet">
						Basic and Advanced Reports
					</h2>
					<div class="card-body">
						<div class="md:grid md:grid-cols-2 md:gap-10">
							<div>
								Get fleet activities with Pilot Ghana extensive report types and Alert that record all the vehicles
								operations. Report on trips, fuel usage, fleet policy violations, servicing and more; with their
								associated costs. Alerts are sent through SMS, Email, Phone Notification based on your preference.
							</div>
							<div>
								You can run reports on trips, fuel usage, fleet policy violations, servicing and more. The reports are
								available in a range of formats including PDF, Excel, and XML.
								<br />
								<figure>
									<img src="images/Formats.png" alt="PDF, Excel and XML" />
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="md:grid md:grid-cols-2 md:grid-rows-3 md:gap-3 mb-3">
					<div class="card bg-grey-darker md:row-span-3 mb-3 md:mb-0">
						<h2 class="card-title text-aquamarine">
							Engine Off/ Remote Vehicle Immobilizer
						</h2>
						<div class="card-body">
							<img src="svg/directions_car-24px.svg" class="mb-6" />
							<p class="text-grey-lighter">
								Remotely shut down your vehicle in the event of a carjacking, snatching, or unauthorized usage with a
								simple command from your phone. The ignition system of your vehicle will remain inactive until you
								reactivate it from your account.
							</p>
						</div>
					</div>
					<div class="card md:row-span-2 h-full mb-3">
						<div class="card-subtitle icon-base bg-gradient-to-br from-persimmon to-violet">
							<i class="material-icons text-grey-lighter">notifications_active</i>
						</div>
						<h2 class="card-title text-persimmon">
							Event Notifications and Alerts
						</h2>
						<div class="card-body">
							Get instant notifications for conditions that are triggered and feedback on your vehicle use,
							immediately
							they are triggered or violated. Alerts can be received by Email, Telegram, SMS or push notifications.
						</div>
					</div>
					<div class="card md:row-span-1 h-full  bg-gradient-to-l from-aquamarine to-violet">
						<div class="grid grid-cols-3">
							<div class="col-span-2 font-bold">
								<span class="text-md md:text-md lg:text-xl text-white">100%</span><br />
								<span class="md:text-2xl lg:text-md">protection</span>
							</div>
							<div>
								<i class="material-icons text-6xl text-white">
									security
								</i>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-3 pb-0 bg-gradient-to-b from-persimmon to-violet">
					<h2 class="card-title text-grey-lighter">
						Desktop (web version)
					</h2>
					<img class="m-auto w-full" src="images/MacBook Pro 16-inch.png" />
				</div>
				<div class="md:grid md:grid-cols-2 md:grid-rows-3 md:gap-3 mb-3">
					<div class="card md:col-start-1 md:row-start-1 md:row-span-2 mb-3 md:mb-0">
						<div class="card-subtitle icon-base  bg-gradient-to-br from-aquamarine to-violet">
							<i class="material-icons text-grey-lighter">notifications_active</i>
						</div>
						<h2 class="card-title text-violet">
							Driver Behaviour
						</h2>
						<div class="card-body">
							Our fully-featured driver behaviour module provides you evidence into unwanted driving activities such
							as
							aggressive maneuvers, braking, speeding, driving with high RPMs - all of this leads to the wear-out of
							parts and emergency situations on the road. This analysis can support your business to create a greener
							and more streamlined fleet.</div>
					</div>
					<div
						class="card md:col-start-2 row-start-1 row-span-3 bg-gradient-to-b from-persimmon via-persimmon to-pizzaz md:row-span-3 mb-3 md:mb-0">
						<h2 class="card-title text-grey-lighter">
							Mobile App
						</h2>
						<div class="card-body">
							<img src="images/iPhone 11 Pro.png" class="mb-6 mx-auto w-2/3" />
							<p class="card-title text-grey-lighter text-center">
								Available On:</p>
							<div class="grid grid-cols-2 gap-3">
								<img src="svg/Google Play.svg" alt="Get in on Google Play">
								<img src="svg/App store.svg" alt="Get in on Google Play">
							</div>
						</div>
					</div>
					<div class="card md:col-start-1 md:row-start-3 md:row-span-1 bg-violet mb-3 md:mb-0">
						<h2 class="card-title text-grey-lighter lg:text-lg">
							Everything’s under control
						</h2>
					</div>
				</div>
				<div class="card mb-3 bg-grey-darker overflow-hidden">
					<div class="md:grid grid-cols-2 gap-3">
						<div>
							<div class="card-subtitle icon-base bg-gradient-to-br from-pizzaz to-violet">
								<i class="material-icons text-grey-lighter">local_gas_station</i>
							</div>
							<h2 class="card-title text-grey-lighter">
								Live Fuel Level Monitoring
							</h2>
							<div class="card-body text-grey-lighter">
								<p>
									Monitor the live fuel level and usage with an optional addition of a fuel level sensor that can
									check
									for refueling, siphoning (fuel theft), leakages and more.
								</p>
								<br />
								<p>
									You cannot control the prices of fuel but you can control your fuel consumption and ensure fuel
									efficiency. Pilot Ghana help you to control fuel expenses/cost by providing you fuel monitoring
									solution to monitor the Refilling and usage of fuel.
								</p>
							</div>
						</div>
						<div
							class="water-box bg-no-repeat bg-cover bg-bottom relative text-3xl lg:text-lg font-bold pl-8 pt-64 pb-32 -mx-7 -mb-7 md:ml-0 md:-mr-10 md:-mb-10 xxl:-mr-10 bg-persimmon">
							The tank is<br />
							<span class="text-white text-4xl">80%</span> full
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="container grid grid-cols-12 gap-3">
		<div class="col-start-1 col-span-12 xl:col-start-2 xl:col-span-10">
			<h2 class="text-violet xl:w-1/2 text-3xl md:text-md xxl:text-lg p-6 md:p-8">
				Choose the one that suits you best
			</h2>
		</div>
		<div class="col-start-1 col-span-12 lg:grid md:grid-col-2 md:grid-cols-3 gap-3 items-baseline">
			<div class="card rounded-3xl mb-3 lg:mb-0">
				<h3 class="card-title">
					Basic<br /> Package
				</h3>
				<div class="text-right">
					<button data-target="#basic"
						class="trigger rounded-full bg-gradient-to-b from-violet to-persimmon material-icons text-white text-2xl">
						add
					</button>
				</div>
				<div id="basic" class="card-body collapsible options">
					<ul class="spaced-li">
						<li>
							Real-time/ Live Tracking
						</li>
						<li>
							SMS Event Alert
						</li>
						<li>
							Basic Reports
						</li>
						<li>
							Idle time reports
						</li>
						<li>
							Mileage calculation
						</li>
						<li>
							Playback of location history of your vehicles
						</li>
						<li>
							Geo-Fencing (10 Locations) with in-app alerts
						</li>
						<li>
							Desktop & Mobile App Licenses and Access
						</li>
						<li>
							Device + 1yr suscription + Installation
						</li>
					</ul>
				</div>
			</div>
			<div class="card rounded-3xl bg-grey mb-3 lg:mb-0">
				<h3 class="card-title ">
					Diamond<br /> Package
				</h3>
				<div class="text-right">
					<button data-target="#diamond"
						class="trigger rounded-full bg-gradient-to-br from-aquamarine to-violet material-icons text-white text-2xl">
						add
					</button>
				</div>
				<div id="diamond" class="card-body collapsible options">
					<ul class="spaced-li">
						<li>
							Real-time/ Live Tracking
						</li>
						<li>
							SMS Event Alert
						</li>
						<li>
							Standard Reports
						</li>
						<li>
							Mileage calculation
						</li>
						<li>
							Excessive Idle time Monitoring
						</li>
						<li>
							Maintenance reminders and suggestions
						</li>
						<li>
							Remote Vehicle Immobilizer/ Engine off
						</li>
						<li>
							Playback of location history of your vehicles
						</li>
						<li>
							Geo-Fencing (Multiple Locations) with in-app alerts
						</li>
						<li>
							Desktop & Mobile App Licenses and Access
						</li>
						<li>
							Device + 1yr suscription + Installation
						</li>
					</ul>
				</div>
			</div>
			<div class="card rounded-3xl bg-grey-darker mb-3 lg:mb-0">
				<h3 class="card-title text-aquamarine">
					Platinum<br /> Package
				</h3>
				<div class="text-right">
					<button data-target="#platinum"
						class="trigger rounded-full bg-gradient-to-br to-pizzaz from-persimmon material-icons text-white text-2xl">
						add
					</button>
				</div>
				<div id="platinum" class="card-body collapsible options">
					<ul class="spaced-li text-grey-lighter">
						<li>
							Real-time/ Live Tracking
						</li>
						<li>
							SMS Event Alert
						</li>
						<li>
							Advanced Reports
						</li>
						<li>
							Mileage calculation
						</li>
						<li>
							Driver Behaviour
						</li>
						<li>
							Over speed Alerts
						</li>
						<li>
							Green Driving
						</li>
						<li>
							Harsh or Reckless driving
						</li>
						<li>
							API for Integration
						</li>
						<li>
							Remote Vehicle Immobilizer/ Engine off
						</li>
						<li>
							Playback of location history of your vehicles
						</li>
						<li>
							Geo-Fencing (Multiple Locations) with in-app alerts
						</li>
						<li>
							Desktop & Mobile App Licenses and Access
						</li>
						<li>
							Device + 1yr suscription + Installation
						</li>
						<li>
							Customization with Add-on Sensors (Fuel and Weight)
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="text-center md:text-right col-span-12 mb-20">
			<button id="showAll" class="bg-transparent border-none text-grey-darker">Show All</button>
		</div>
	</section>
	<section class="container md:grid grid-cols-12 gap-3 mb-20">
		<div class="card bg-grey col-start-7 col-span-6 xl:col-start-7 xl:col-span-5 mb-3 md:mb-0 flex flex-col overflow-hidden pb-0">
			<h2 class="card-title md:text-md">
				Teltonika FMB122
			</h2>
			<div class="card-body opacity-90">
				Teltonika FMB122 is an advanced GLONASS/GPS tracker with external GNSS antenna, dual-SIM, Bluetooth, multiple
				vehicles CAN support, crash detection, idling detection, voice calls, internal battery, and a lot more.
			</div>
			<div class="mt-auto -mb-6 -ml-6 -mr-6 xxl:-mb-10 xxl:-mr-10 xxl:-ml-10">
				<img class="min-w-full ml-8" src="images/device-2.png" alt="Device">
			</div>
		</div>
		<div
			class="row-start-1 col-start-1 col-span-6 xl:col-start-2 xl:col-span-5 grid grid-rows-3 grid-cols-1 md:grid-cols-2 gap-3 mb-3 md:mb-0">
			<div
				class="card md:bg-gradient-to-br group hover:from-aquamarine hover:to-violet transition-all duration-300 flex items-center justify-center">
				<div class="card-body flex items-center justify-center relative">
					<img class="h-16 md:h-auto md:group-hover:hidden mr-5 md:mr-0" src="svg/bluetooth-24px.svg" alt="Bluetooth">
					<div class="block md:hidden group-hover:block w-full h-full md:text-center transition-all duration-300">
						<p class="md:text-xs xxl:text-sm md:text-white">Bluetooth for external devices and sensor with low consumption
							energy
						</p>
					</div>
				</div>
			</div>
			<div
				class="card md:bg-gradient-to-b group hover:from-persimmon hover:to-violet transition-all duration-300 flex items-center justify-center">
				<div class="card-body flex items-center justify-center relative">
					<img class="h-16 md:h-auto md:group-hover:hidden mr-5 md:mr-0" src="svg/battery_charging_full-24px.svg" alt="Battery">
					<div class="block md:hidden group-hover:block w-full h-full md:text-center transition-all duration-300">
						<p class="md:text-xs xxl:text-sm md:text-white">Backup battery allows to work without external power supply
						</p>
					</div>
				</div>
			</div>
			<div class="card group md:hover:bg-persimmon transition-all duration-300 flex items-center justify-center">
				<div class="card-body flex items-center justify-center relative">
					<img class="h-16 md:h-auto md:group-hover:hidden mr-5 md:mr-0" src="svg/sim_card-24px.svg" alt="SIM Card">
					<div class="block md:hidden group-hover:block w-full h-full md:text-center transition-all duration-300">
						<p class="md:text-xs xxl:text-sm md:text-white">
							Dual SIM will help significantly reduce roaming charges
						</p>
					</div>
				</div>
			</div>
			<div class="card group md:hover:bg-violet flex items-center justify-center transition-all duration-300">
				<div class="card-body flex items-center justify-center relative">
					<img class="h-16 md:h-auto md:group-hover:hidden mr-5 md:mr-0" src="svg/queue_play_next-24px.svg" alt="Play next">
					<div class="block md:hidden group-hover:block w-full h-full md:text-center transition-all duration-300">
						<p class="md:text-xs xxl:text-sm md:text-white">
							Digital inputs and outputs for remote control and monitoring
						</p>
					</div>
				</div>
			</div>
			<div class="card group md:hover:bg-aquamarine flex items-center justify-center transition-all duration-300">
				<div class="card-body flex items-center justify-center relative">
					<img class="h-16 md:h-auto md:group-hover:hidden mr-5 md:mr-0" src="svg/baseline-settings_input_antenna-24px.svg" alt="Antenna">
					<div class="block md:hidden group-hover:block w-full h-full md:text-center transition-all duration-300">
						<p class="md:text-xs xxl:text-sm md:text-white">
							External GNSS antenna expands installation options
						</p>
					</div>
				</div>
			</div>
			<div class="card group">
				<div class="card-body flex items-center justify-center relative">
					<img class="h-16 md:h-auto mr-5 md:mr-0" src="svg/baseline-exposure-24px.svg" alt="Exposure">
					<div class="block md:hidden w-full h-full md:text-center transition-all duration-300">
						<p class="md:text-xs xxl:text-sm md:text-white">
							External GNSS antenna expands installation options
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<%- include('includes/footer.ejs') %>