<%- include('includes/header.ejs', {page: 'Pricing'}) %>

	<section class="container">
		<div class="grid grid-cols-12 mt-24 mb-12 grid-gap-30 grid-rows-18">
			<div class="block-1">
				<h5>The key product we offer</h5>
				<h2>Powerful Vehicle <br>Tracking</h2>
				<p class="text-red-600">GH₵ 900 per vehicle</p>
				<span>Includes:</span>
				<ul>
					<li>- all required hardware</li>
					<li>- sensors</li>
					<li>- installation</li>
					<li>- broadband</li>
					<li>- maintenance</li>
					<li>- 1year subscription plan</li>
				</ul>
			</div>
			<div class="block-2">
				<!--<h5>iButton</h5>-->
				<h2>Multi <br>Vehicle Key</h2>
				<p>GH₵ 250</p>
			</div>
			<div class="block-3">
				<h2>Added Value Features</h2>
			</div>
			<div class="block-4">
				<!--<h5>Fuel sensor</h5>-->
				<h2>Online <br>Fuel Level</h2>
				<p>GH₵ 1,200</p>
			</div>
			<div class="block-5">
				<!--<h5>Immobiliser</h5>-->
				<h2>Remote <br>Engine Control</h2>
				<p>GH₵ 300</p>
			</div>
			<div class="block-6">
				<!--<h5>Weight sensor</h5>-->
				<h2>Weight <br>Measurement</h2>
				<p>GH₵ 1,200</p>
			</div>
			<div class="block-7">
				<h2>Next Year Subscription</h2>
				<h5>2nd and following years of platform usage</h5>
				<p>GH₵ 300 per vehicle</p>
			</div>
		</div>
	</section>

	<%- include('includes/footer.ejs') %>